@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

.border-y-dashed{
    border-bottom-style: dashed;
    border-top-style: dashed;
}
.border-r-solid {
    border-right-style: solid;
}